<h1> Chris Barra </h1>
<img src="http://www.volkswatch.com/vwnews/2008-vw-news/new-vw-gti/new-vw-gti-2s.jpg" />
<h2> IT Manager/Janitor </h2>
<p> Would like to learn more about cloud technologies </p>
<a href="http://www.vw.com/models/golf-gti/"> read_more </a>