<h1> Welcome to my "something" profile! </h1>
<div class="profile">
   <h1> Chris Barra </h1>
   (the rest of your code goes here)
 </div>
<img src="cbarra1.jpg" style="margin-left: 10px" />
<h2> IT Manager/Janitor </h2>
<p> Would like to learn more about cloud technologies </p>
<a href="http://www.vw.com/models/golf-gti/"> read_more </a>